@font-face{
    font-family: SinkinSans;
    src: url(sinkinsans-700bold-webfont.woff);
}

html{
    height:100%;
}

body{
    font-family:SinkinSans;
height:90%;
line-height: 1.2;
}

/*Index Page CSS*/

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;


}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    cursor:pointer;
}

.mcontain {
   display: table;
   width: 100%;
   height:100%;
}
.mcontaincell {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

#icons
{
    margin-top:10px;
    height:35px;
}

#settings
{
    float:right;
}

.Middle
{
    width:50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

li {
    border-bottom:1px solid black;
    padding-bottom:15px;
    padding-top:15px;
    margin:2px;
}

li:hover
{
    cursor:pointer;
}

/*Ticket Page CSS*/
#Container
{
    display:table;
    height:50%;
}
#empty
{
    height:25%;
}

#eventName
{
    height:20%;
    font-size: 250%;
}

#ticketNumber
{
    height:60%;
    font-size: 850%;
}

#password
{
    font-size: 450%;
    color:#3498db;
}

#estimateTime
{
    margin-top:12%;
    font-size: 200%;
}

/*Owner CSS*/
#navigation
{
    margin-top:30px;
}

#nextButton
{
width:40%;
}

/*Description */
#description
{
    width:40%;
    font-size: 130%;
}

#grabTicket
{
    font-size: 450%;
    color:#3498db;
}


/*Media Query*/
@media all and (max-width: 480px) {
    body {
        font-size: 15px; } 
        .Middle
{
    width:99%;
}
#description
{
    width:99%;
}}
@media all and (min-width: 481px) and (max-width: 768px) {
    body {
        font-size: 19px; } 
    .Middle
{
    width:99%;
}
#description
{
    width:99%;
}
}
@media all and (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 16px; } }
@media all and (min-width: 1025px) {
    body {
        font-size: 21px; } }
